<hr class="hr-bottom" style="display:none;" />

<div id="div-linha1" class="row collapse">
    <div class="col-md-2 text-right hidden-sm hidden-xs">
        <p class="pull-right">Linha 1:</p>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs">
                <div class="btn-group noselection" role="group">
                    <button id="copiar-linha1" tabindex="-1" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="right" title="copiar">
                        <span class="glyphicon glyphicon-copy"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-11 col-sm-12 col-xs-12" style="padding:0;">
                <p id="linha1-text"></p>
            </div>
        </div>
    </div>
</div>
<div id="div-linha2" class="row collapse" style="margin-top:20px;">
    <div class="col-md-2 text-right hidden-sm hidden-xs">
        <p class="pull-right">Linha 2:</p>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs">
                <div class="btn-group noselection" role="group">
                    <button id="copiar-linha2" tabindex="-1" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="right" title="copiar">
                        <span class="glyphicon glyphicon-copy"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-11 col-sm-12 col-xs-12" style="padding:0;">
                <p id="linha2-text"></p>
            </div>
        </div>
    </div>
</div>


<hr class="hr-bottom hidden-sm hidden-xs" style="display:none;" />

<div id="div-barcode64" class="row collapse noselection">
    <div class="col-md-2">
        <div id="slider-zoom" class="hidden-sm hidden-xs pull-right"></div>
        <i class="click-zoom fa fa-plus-square-o fa-lg pull-right hidden-sm hidden-xs" style="margin: 2px 10px 0 0;"></i>
        <i class="click-zoom fa fa-minus-square-o fa-lg pull-right hidden-sm hidden-xs" style="margin: 85px -15px 0 0;"></i>
    </div>
    <div class="col-md-10 hidden-sm hidden-xs">
        <div style="display:table">
            <div style="display:table-cell; height: 110px; vertical-align: middle;width: 845px;">
                <div id="barcode64">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<hr class="hr-bottom hidden-sm hidden-xs" style="display:none;" />