@mixin border-shadown() {
    -webkit-box-shadow: 0 0 6px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 6px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 6px 1px rgba(50, 50, 50, 0.75);
}

@mixin border-shadown-error() {
    -webkit-box-shadow: 0 0 6px 2px rgba(111, 15, 15, 0.75);
    -moz-box-shadow: 0 0 6px 2px rgba(111, 15, 15, 0.75);
    box-shadow: 0 0 6px 2px rgba(111, 15, 15, 0.75);
}



@mixin button-icon($color) {
    &:hover {
        color: $color;
        @include border-shadown();
    }
}